.members-container__card {
    display: flex;
    width: 100%;

    .member__img {
        // width: 50%;
        flex-basis: 50%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .member__description {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        padding: 5rem;

        p {
            text-align: center;
        }


        .member__name {

            p {

                font-size: 40px;
                color: #ccbdbf;
                text-transform: uppercase;

            }
        }

        .member__role {

            p {
                font-size: 30px;
                color: #880015;
                text-transform: uppercase;

            }
        }

        .member__introduce {
            margin-top: 3rem;
            line-height: 30px;
        }
    }
}

.members-container__card:nth-child(even) {
    flex-direction: row-reverse;
}

@media(max-width: 848px) {
    .members-container__card {

        .member__description {
            padding: 4rem;
            .member__name {
                p {
                    font-size: 30px;
                }
            }

            .member__role {
                p {
                    font-size: 20px;
                }
            }
        }

    }
}
@media(max-width: 700px) {
    .members-container__card {
        flex-direction: column;
        max-width: 450px;
        margin: 0 auto;
    }
    .members-container__card:nth-child(even) {
        flex-direction: column;
        max-width: 450px;
        margin: 0 auto;
        
    }
}

@media(max-width: 320px) {
    .members-container__card .member__description {
        padding: 2rem;
    }
}