.section-padding {
    padding: 10em 2em 0em;
}

// .section-music-padding {
//     padding: 18em 2em 16em;
// }

.wrapper {
    // position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.album {
position: relative;
padding-bottom: 10em;
}

.music-slider {
    position: relative;
}

.slick-slider {
    position: initial !important;
}

@media(max-width:580px) {
    .album {
        padding-bottom: 5em;
    }
}