.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    text-transform: uppercase;

    p {
        margin-bottom: 30px;
        font-size: 11px;
        text-align: center;
    }
}

.with-out-background {
    background-color: initial;
} 

@media(max-width: 600px) {
    footer {
        p {
            font-size: 10px;
        }
    }
}