@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/DeathCrowRegular-dBqx.ttf');
}


.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(3, 3, 2, 0.26) 0%, rgba(39, 37, 37, 0.514) 100%, rgba(60, 60, 29, 0.28644961402529767) 100%, rgb(63, 63, 55) 100%), url('../img/92837453_535198783803523_7603803396394450944_o.jpg');
    background-size: cover;
    box-shadow: 8px 18px 30px 12px rgb(22, 22, 22);
    z-index: 1;

    &__banner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-transform: uppercase;

        h1 {
            font-size: 81px;
            color: #880015;
        }

        span {
            font-size: 36px;
            font-weight: bold;
        }
    }

    .band-name {
        position: absolute;
        left: 4%;
        bottom: 50px;
        // width: 100%;
        // transform: translate(-50%, 50%);
        font-size: 100px;
        text-align: center;
        // letter-spacing: 10px;
        color: #880015;
        font-family: 'Oswald';
        text-transform: uppercase;
        // text-shadow: -20px 0px 24px rgba(255, 255, 255, 0.20);
    }

    .social-links {
        position: absolute;
        bottom: 10px;
        right: 10px;

        a {
            margin: 0 10px;

            li {
                display: inline-block;
                font-size: 18px;
                list-style: none;


            }
        }


    }
}

.header-band {
    height: 80vh;
}

.nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: background-color .3s linear;
    z-index: 1;

    &__logo {
        width: 180px;
        height: 180px;
        transition: .6s;

        &-img {
            width: 100%;
        }
    }

    &-items {
        display: flex;
        align-items: center;
        // padding-top: 5rem;
        list-style: none;
        text-transform: uppercase;
    }

    &__item {
        padding: 0 3rem;
        font-size: 2rem;
        transition: .3s;

        // &:last-child {
        //     padding-left: 0;
        // }

        &-menu-item {
            position: relative;
            margin-bottom: 3em;
            line-height: 50px;


            li {
                p {
                    font-family: 'Oswald', sans-serif;

                }

            }

            a {

                p {
                    font-family: 'Oswald', sans-serif;
                    transition: .3s;

                }
            }

            a:hover p {
                color: #880015;

            }

            .drop-down {
                position: absolute;
                left: 0;
                width: 450px;
                background-color: rgba(0, 0, 0, 0.3);

                li {
                    display: none;
                    // opacity: 0;
                    padding: 5px 15px;
                    // font-size: 15px;
                    font-family: 'Oswald', sans-serif;

                    list-style: none;
                    // transition: color .3s;
                    // background-color: #50515A;
                }

                li:hover {
                    color: #880015;
                    // background-color: #880015;
                }
            }
        }

        &-menu-item:hover {
            color: #880015;
        }

        // &-menu-item:hover p{
        //     color: #880015;
        // }

        &-menu-item:hover .drop-down li {
            display: block;
            // padding: 15px;

        }

    }

    &-active {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.842);
        z-index: 1000;

        .nav__logo {
            height: 100px;
            width: 100px;
        }

        .nav__item-menu-item {
            font-size: 1.7rem;
        }
    }

    .menu-btn {
        display: none;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: transparent;
        cursor: pointer;
        transition: all .3s ease-in-out;
        border: none;
        overflow: hidden;

        &__burger {
            display: flex;
            width: 50px;
            height: 6px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
            transition: all .3s ease-in-out;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 50px;
                height: 6px;
                background-color: #fff;
                border-radius: 5px;
                box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
                transition: all .3s ease-in-out;
            }

            &::before {
                transform: translateY(-16px);
            }

            &::after {
                transform: translateY(16px);
            }
        }
    }
}

@media(max-width: 1300px) {

    .header {

        h1 {
            font-size: 70px;
        }

        span {
            font-size: 33px;
        }
    }
}

@media(max-width: 1176px) {

    .header {

        h1 {
            font-size: 60px;
        }

        span {
            font-size: 28px;
        }

        .band-name {
            font-size: 80px;
        }
    }
}

@media(max-width: 1011px) {

    .header {
        .header__banner {
            width: 80%;

            h1 {
                font-size: 55px;
            }

            span {
                font-size: 27px;
            }
        }

    }
}

@media(max-width: 848px) {

    .section-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        background-position: center;

        .header__banner {
            h1 {
                font-size: 50px;
            }

            span {
                font-size: 25px;
            }

        }

        .band-name {
            font-size: 50px;
        }

    }

    .nav {
        padding: 0 3rem;
        justify-content: space-between;
    }

    .nav .nav__logo {
        width: 130px;
        height: 130px;
    }

    .nav ul .nav__item-menu-item {
        display: none;
    }

    .nav .menu-btn {
        display: flex;
        width: 70px;
        height: 70px;

        &__burger,
        &__burger::before,
        &__burger::after {
            height: 3px;
            width: 30px;
        }

        &__burger:before {
            transform: translateY(-10px);
        }

        &__burger:after {
            transform: translateY(10px);
        }
    }

    .album__arrow {
        display: none;
    }

    .wrapper-albums {
        padding: 0;
    }
}

@media (max-width:500px) {

    .header {

        .header__banner {
            h1 {
                font-size: 40px;
            }

            span {
                font-size: 20px;
            }
        }

        .band-name {
            font-size: 30px;
        }

    }

    .nav .menu-btn {

        &__burger,
        &__burger::before,
        &__burger::after {
            height: 2px;
        }

        &__burger::before {
            transform: translateY(-10px);
        }

        &__burger::after {
            transform: translateY(10px);
        }
    }

    .nav .nav__logo {
        margin-top: 1rem;
        width: 90px;
        height: 90px;
    }
}

@media (max-width: 400px) {

    .nav .menu-btn {

        &__burger,
        &__burger::before,
        &__burger::after {
            height: 2px;
        }

        &__burger::before {
            transform: translateY(-8px);
        }

        &__burger::after {
            transform: translateY(8px);
        }
    }

}

.level {
    width: 60%;
    height: 12px;
    margin-top: 1rem;
    -webkit-appearance: none;
    appearance: none;
    background-color: #8f9192;
    border-radius: 5px;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 22px;
        background-color: rgb(155, 61, 61);
        border-radius: 8px;

    }
}

input:focus {
    outline: none;
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}